<footer class="md-footer"">
  <div class="footer-card" style="position: relative; background: var(--canvas); border: 1px solid var(--border-color); box-shadow: 0 8px 30px rgba(255, 255, 255, 0.04); padding: 2rem; text-align: center;" dir="ltr">
    <div class="footer-border"></div>
    
    <a href="mailto:soroush_zendedel@Live.com" id="footer-link" style="display: inline-flex; align-items: center; justify-content: center; gap: 8px; text-decoration: none; color: rgba(30, 30, 36, 0.5); transition: color 0.3s;font-size: .7rem;font-family: Lora, serif !important; letter-spacing: 0.025em;">
        <i class="fa-regular fa-envelope"></i>
        soroush_zendedel@Live.com
    </a>
  </div>
</footer>

<style>
  .footer-border {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 3px;
      background: linear-gradient(90deg, transparent, var(--crimson), transparent);
      border-radius: 12px 12px 0 0;
  }
  #footer-link:hover { color: var(--crimson) !important; }
</style>