<footer class="md-footer custom-site-footer">
  <div class="footer-card" dir="rtl">
    <div class="footer-border"></div>
    
    <div class="footer-content-wrapper">
      
      <div class="footer-section footer-about">
        <h3 class="footer-title">ثبت‌احوال</h3>
        <p class="footer-desc">
          آمیزه‌ای از کد، کلمه و هنر.<br>
          دفتری برای جستجو در تقاطع تکنولوژی و احساس؛ جایی برای ثبت درددل‌ها، اشعار چندلایه و تجربیات یک تکنیکال آرتیست.
        </p>
      </div>

      <div class="footer-section footer-links">
        <h4 class="footer-subtitle">گشت و گذار</h4>
        <ul>
          <li>
            <a href="https://soroush-zendedel.github.io/" title="صفحه اصلی پورتفولیو">
              <i class="fa-solid fa-house"></i> خانه (سایت اصلی)
            </a>
          </li>
          <li>
            <!-- <a href="https://soroush-zendedel.github.io/HAC101/" title="دوره آموزشی انسان‌ها و کامپیوترها">
              <i class="fa-solid fa-laptop-code"></i> دوره آموزشی HAC101
            </a> -->
          </li>
          <li>
            <a href="#" target="_blank" title="کانال یوتیوب ParsCasts">
              <i class="fa-solid fa-broadcast-tower"></i> کانال یوتیوب
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-section footer-contact">
        <h4 class="footer-subtitle">ارتباط با من</h4>
        
        <a href="mailto:soroush_zendedel@Live.com" id="footer-link" style="display: inline-flex; align-items: center; justify-content: center; gap: 8px; text-decoration: none; color: rgba(30, 30, 36, 0.5); transition: color 0.3s;font-size: .7rem;font-family: Lora, serif !important; letter-spacing: 0.025em; margin-bottom: 1.5rem;">
            <i class="fa-regular fa-envelope"></i>
            soroush_zendedel@Live.com
        </a>

        <!-- <div class="footer-socials">
            <a href="https://github.com/soroush-zendedel" target="_blank" title="گیت‌هاب"><i class="fa-brands fa-github"></i></a>
            <a href="#" target="_blank" title="یوتیوب"><i class="fa-brands fa-youtube"></i></a>
        </div> -->
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; ۲۰۲۶ سروش زنده‌دل. توسعه‌یافته با واژه، کد و کمی موسیقی.</p>
    </div>
    
  </div>
</footer>