<div class="author-profile-card">
  <h3 class="author-title">سروش زنده‌دل</h3>
  
  <div class="author-avatar-wrapper">
    <img src="{{ base_url }}/assets/images/author.jpg" alt="تصویر سروش زنده‌دل" class="author-avatar">
  </div>
  
  <div class="author-subtitle">تکنیکال آرتیست، نویسنده</div>
  
  <div class="author-bio scrollable-bio">
    <p>
    ثبت احوال؛
    <br>
     همه‌چیزم را نوشت،
    <br>
     جز احوالم را...
    </p>
  </div>
  
  <div class="author-social-links">
    <a href="mailto:soroush_zendedel@Live.com" target="_blank" title="ایمیل">
      <i class="fas fa-envelope"></i>
    </a>
    
    <a href="https://soroush-zendedel.github.io" target="_blank" title="وب‌سایت">
      <i class="fas fa-globe"></i>
    </a>
  </div>
</div>